header {
    background-color: hotpink;
}

h1 {
    float: left;
}

h3{
    float: left;
}

section {
    background-color: rgba(104, 245, 245, 0.349);
}

footer {
    background-color: gray;
    text-align: center;
}

img {
    width: 25%;
    float: left;
}

.cvrimg {
    width: 25%
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
