.fxdhdr {
    background-color: hotpink;
    width: 100%;
    height: 10%;
    position: fixed;
    border-bottom: indigo;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    top: 0;
}

h1 {
    float: left;
    width: 85%;
    margin-left: 1%;

}

h3{
    float: left;
    padding: 5px;
}

body {
    background-color: rgba(104, 245, 245, 0.349);
    width: 100%;
    height: 80%;
    
}

h2 {
    margin-left: 5%;
}
hr {
    display: block;
    margin-block-start: auto;
    border-width: 1px;
}

img {
    width: 5%;
    position: relative;
    top: 5%;
    left: 5%
    padding: 15%;
    margin-left: 2%;
}

.cvrimg {
    width: 15%;
    padding: 15px;
}

.abtmecontent {
    float: left;
    margin-left: left;
    }

.fxdftr {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: gray;
    text-align: center;
    font-size: 24px;
    border-top: indigo;
    border-top-width: 10px;
    border-top-style: solid;
    bottom: 0;
}

.abtme {
    position: fixed;
    top: 20%;
    background-color: indigo;
    margin-left: 10%;
    width: 80%;
    height: 60%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
